/* Ticket Forms - New Ticket, Client Login */

#ticketForm div.clear,
#clientLogin div.clear {
  clear: both;
  padding: 3px 0;
  overflow: hidden;
}

#ticketForm div label,
#clientLogin div label {
  display: block;
}

label.required,
span.required {
  font-weight: bold;
}

#ticketForm div label.required,
#clientLogin div label.required {
  text-align: left;
}

#ticketForm div input,
#clientLogin div input,
#ticketForm div textarea,
#clientLogin div textarea {
  width: auto;
  border: 1px solid #aaa;
  background: #fff;
  display: block;
}

#ticketForm div input[type=file],
#clientLogin div input[type=file] {
  border: 0;
}

#ticketForm div select,
#clientLogin div select {
  display: block;
  float: left;
}

#ticketForm div div.captchaRow,
#clientLogin div div.captchaRow {
  line-height: 31px;
}

#ticketForm div div.captchaRow input,
#clientLogin div div.captchaRow input {
  position: relative;
  top: 6px;
}

#ticketForm > table {
  table-layout: fixed;
}

#ticketForm > table td {
  width: 160px;
}

#ticketForm > table td + td {
  width: auto;
}

#ticketForm td textarea,
#clientLogin td textarea,
#ticketForm div textarea,
#clientLogin div textarea {
  width: 600px;
}

#ticketForm td em,
#clientLogin td em,
#ticketForm div em,
#clientLogin div em {
  color: #777;
}

#ticketForm td .captcha,
#clientLogin td .captcha,
#ticketForm div .captcha,
#clientLogin div .captcha {
  width: 88px;
  height: 31px;
  background: #000;
  display: block;
  float: left;
  margin-right: 20px;
}

#ticketForm td label.inline,
#clientLogin td label.inline,
#ticketForm div label.inline,
#clientLogin div label.inline {
  width: auto;
  padding: 0 10px;
}

#ticketForm div.error input,
#clientLogin div.error input {
  border: 1px solid #a00;
}

#ticketForm div.error label,
#clientLogin div.error label {
  color: #a00;
}

/* Client Login */
#clientLogin {
  display: block;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  background: url('../images/lock.png') 95% 50% no-repeat #f6f6f6;
}

.rtl #clientLogin {
  background-position: 5% 50%;
}

#clientLogin .instructions {
  display: table-cell;
  padding-left: 2em;
  padding-right: 90px;
}

.rtl #clientLogin .instructions {
  padding-left: 0;
  padding-right: 0;
  padding-right: 2em;
  padding-left: 90px;
}

#clientLogin p {
  clear: both;
}

#clientLogin strong {
  font-size: 11px;
  color: #d00;
  display: block;
}

#clientLogin #email,
#clientLogin #ticketno {
  margin-right: 0;
}

#clientLogin input[type=text],
#clientLogin input[type=password] {
  padding: 5px;
  border-radius: 4px;
  margin-bottom: 15px;
}

#clientLogin input[type=submit] {
  padding: 3px 10px;
  border-radius: 4px;
}